version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant_service
    ports:
      - "6333:6333"
    networks:
      - app-network
    volumes:
      - ./qdrant:/qdrant/storage
    restart: always

  backend:
    build:
      context: ./src
    container_name: backend_service
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    ports:
      - "8000:8000"
    networks:
      - app-network
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    restart: always

  frontend:
    build:
      context: ./view
    container_name: frontend_service
    ports:
      - "80:80"
    networks:
      - app-network
    environment:
      - BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
    restart: always

networks:
  app-network:
